.sideNav{
    position: fixed;
    background-color: #e4e2e2;
    width: 16%;
    height: calc(100vh - 6rem);
}
.sideNav a{
    display: block;
}
.sideNav a button{
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 5% 5% 5% 10%;
    border-bottom: 1px solid #c2bebe;
    text-align: left;
}
.sideNav a button.active{
    color:red;
}