.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 1px 1px 1px #ddcccc;
    height: 6rem;
    display:flex;
    background-color: white;
}
.navPage{
    position:absolute;
    top:6rem;
    width:80%;
    left:10%;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: #dbd6d6;
    color: black;
    z-index: 20;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    padding: 12px;
}
.nav-bar .navlink{
    color:black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .navlink:hover{
    font-size: 18px;
    color: rgb(240, 9, 98);
    transition: 0.2s font-size;
    
}
.nav-bar .active{
    color: rgb(240, 9, 98);
}
.navlink img{width:auto;}
.rightnav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 70%;
    height: 100%;
}
.rightnav .navlink{
    padding:0px 20px;
}
.widthNav{
    width:80%;
    margin:0 auto;
    display: flex;
    position:relative;
}
.widthNav > a:first-child{
    width: 20%;
    display: block;
}
.rightnav > div{
    position: absolute;
    right: 0px;
    height:100%;
}
.rightnav > div > a{
    display: inline-block !important;
    margin: 10px 0px;
    font-size: 12px !important;
    font-weight: 600;
    padding: 0 0 0 20px !important;
}
button.navlink{
    border: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px !important;
}
@media screen and (max-width:1200px) {
    .navPage,.widthNav{
        width:100%;
        left:0px;
    }
}
@media screen  and (max-width:1000px){
    .rightnav > a:first-child,.rightnav > a:nth-child(2){
        display:none;
    }
    .widthNav > a:first-child {
        width: 20%;
        display: flex;
    }
    .navlink img{width:100%;}
    .nav-bar{
        height:4rem
    }
    button.navlink{
        padding:3px !important;
    }
}